# ASCM API URL
API_URL=https://acsm.fr/api
# ASCM RESULT DOWNLOAD URL
DOWNLOAD_URL=https://acsm.fr
# Server number where the championship run
SERVER=3
# GHSEET NAME
GSHEET_NAME="Décompte Point Simracing"